
/* -------- // ESTILOS TABLERO Y NAVES // -------- */

.tablero {
  border-collapse: collapse;
}

.cuadrado {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.etiqueta {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
}

.cuadrado.clickeable {
  background-color: #add8e6;
}

.cuadrado:not(.clickeable) {
  background-color: #eee;
}

.cuadrado.agua {
  color: #add8e6;
}

.cuadrado.nave {
  color: #000;
  background-color: #5196f0;
}

/* Color de fondo de la nave arrastrada */
/* .nave-arrastrada {
  background-color: #ff3e03; 
}

.cuadrado.nave-arrastrada {
  border: 2px solid #000; 
  z-index: 1;
}

.cuadrado.arrastrando {
  background-color: #d3e0ea;
}

.cuadrado.nave-arrastrada.no-valida {
  background-color: #ff0000;
  opacity: 0.7;
} */

/* -------- // DETALLES // -------- */

.btn-naves-aleatorias {
    box-shadow: rgba(72, 182, 190, 0.35) 0px 5px 15px;
    font-size: 17px;
    width: 25%;
}

.btn-regresar-al-menu {
    font-weight: 700;
    font-size: 16px;
    width: 15%;
}